<!--<p (click)="openDialog()">todo-list works!</p>-->

<html>
<head>

</head>
<body>

<h2>{{"todo_list"| translate}}</h2>

<table>

  <tr *ngFor="let todo of todoList">
    <td>{{todo.title}}</td>
    <td><button mat-button (click)="openDialog(todo)">{{"edit"| translate}}</button></td>
  </tr>
</table>

</body>
</html>
