

<h1 mat-dialog-title>{{"update_dialog"| translate}}</h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput ngDefaultControl [(ngModel)]="data.title">
  </mat-form-field>
  <mat-checkbox ngDefaultControl [(ngModel)]="data.completed">Check me!
  </mat-checkbox>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">{{"cancel"| translate}}</button>
  <button mat-button  (click)="onSaveClick()">{{"save"| translate}}</button>
</div>
