a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

a:hover, a:active {
  background-color: red;
}
.text-center{
  text-align: center;
}
