<!--<p>post-list works!</p>-->

<!--<div *ngIf="postList">-->

  <!--<button mat-button (click)="openDialog()">{{"create"| translate}}</button>-->
  <!--<ul *ngFor="let post of postList">-->
    <!--<li>{{post.title}} {{post.id}}</li>-->
    <!--<button mat-button (click)="onDeleteClick(post.id)">{{"delete"| translate}}</button>-->
  <!--</ul>-->

<!--</div>-->

<html>
<head>

</head>
<body>

<h2>{{"posts_list"| translate}}</h2>

<button mat-raised-button (click)="openDialog()">{{"create"| translate}}</button>

<table>

  <tr *ngFor="let post of postList">
    <td>{{post.title}}</td>
    <td><button mat-button (click)="onDeleteClick(post.id)">{{"delete"| translate}}</button></td>
  </tr>
</table>

</body>
</html>
