<h1 mat-dialog-title> {{"create_dialog"| translate}}</h1>
<mat-dialog-content>
  <p>{{"please_add_title"| translate}}</p>
  <mat-form-field>
    <input matInput ngDefaultControl [(ngModel)]="datas">
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">{{"cancel"| translate}}</button>
  <button mat-button  (click)="onCreateClick()">{{"create"| translate}}</button>
</div>
